* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-family: "Helvetica";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  color: #ffffff;
  background-color: #0d6e6e;
}

::selection {
  color: #ffffff;
  background-color: #0d6e6e;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, auto) 1fr;
      grid-template-columns: minmax(250px, auto) 1fr;
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
      grid-template-areas: "header header" "aside  main";
}

@media screen and (max-width: 1200px) {
  .wrapper {
    -ms-grid-columns: minmax(80px, auto) 1fr;
        grid-template-columns: minmax(80px, auto) 1fr;
  }
}

.icons {
  cursor: pointer;
}

#search-icon {
  font-size: 1.1rem;
}

#microphone-icon {
  opacity: 0.3;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#bell-icon {
  opacity: 0.3;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#microphone-icon:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#bell-icon:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.streamer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15px 30px;
}

@media (max-width: 1200px) {
  .main-container {
    padding: 20px 30px;
  }
}

.footer-container {
  margin: 50px 0px 0px 0px;
}

.aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  padding-top: 50px;
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: #e0dede;
}

.streamers-section {
  overflow-y: auto;
}

.streamers-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.streamers-section__item {
  padding: 15px 20px 15px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Change color of dropdown links on hover */
.streamers-section__item:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #afafaf;
}

.streamer-item__link {
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.streamer-item__name-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.streamer-item__icon {
  margin-right: 10px;
}

.streamer-item__nickname {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.streamer-item__nickname:hover {
  color: #1e8eaa;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.streamer-item__score-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.streamer-item__pulse-selector {
  margin-right: 5px;
}

.pulse-selector {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #a30000;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(204, 44, 44, 0.4);
          box-shadow: 0 0 0 rgba(204, 44, 44, 0.4);
  -webkit-animation: pulse-selector 2s infinite;
          animation: pulse-selector 2s infinite;
}

.pulse-selector:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse-selector {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 33, 33, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse-selector {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
            box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.information-section {
  border-top: 1px solid white;
}

.information-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  text-align: center;
  background-color: #c7c7c7;
  margin: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 3px;
}

.information-section__text {
  font-size: 1.2rem;
}

.information-section__text::-moz-selection {
  color: white;
  background-color: #ebaf40;
}

.information-section__text::selection {
  color: white;
  background-color: #ebaf40;
}

.information-section__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.social__item {
  color: #000000;
}

.social__item:nth-child(1):hover {
  color: #0088cc;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:nth-child(2):hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:nth-child(3):hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3b5998;
}

@media screen and (max-width: 1200px) {
  .aside {
    width: 80px;
  }
  .information-section {
    display: none;
  }
  .streamers-section__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    height: 100%;
  }
  .streamers-section__item {
    padding: 20px 0 0 0;
  }
  .streamers-section__item:hover {
    background-color: transparent;
  }
  .streamer-item__nickname {
    display: none;
  }
  .streamer-item__spectators {
    display: none;
  }
  .streamer-item__icon {
    margin: 0px 0px 0px 0px;
  }
  .streamer-item__score-section {
    display: none;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 0px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
}

.logo-section {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-section__icon {
  color: #af480c;
}

.logo-section__title {
  color: #0a4e5a;
  text-transform: uppercase;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font-size: 1.3rem;
}

.form-section__input {
  font-size: 1.1rem;
}

.form-section__input:focus {
  border: 1px solid black;
}

.form-section__button {
  font-size: 1.1rem;
  margin: 0px 10px 0px 0px;
}

.form-section__button:focus {
  border: 1px solid black;
}

.form-section__microphone-icon {
  background-color: transparent;
}

.form-section__microphone-icon:focus {
  border: 1px solid black;
}

.site-search {
  padding: 3px;
  width: 100%;
  min-width: 60px;
  border: 1px solid #cac9c9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-button {
  padding: 3px 5px;
  border-top: 1px solid #cac9c9;
  border-right: 1px solid #cac9c9;
  border-bottom: 1px solid #cac9c9;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-button:focus {
  border: 1px solid black;
}

.search-button:hover {
  background-color: #e7e6e6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
}

.profile-section__icon {
  background-color: transparent;
}

.profile-section__icon:focus {
  border: 1px solid black;
}

.dropicon {
  background-color: #2c3d44;
  color: #fffbfb;
  padding: 10px 12px;
  border-radius: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-section {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dropdown-section__icon {
  margin-left: 10px;
}

.dropdown-section__icon:focus {
  border: 1px solid black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-section__content {
  margin-top: 11px;
  display: none;
  position: absolute;
  right: 0;
  min-width: 180px;
  z-index: 1;
}

.dropdown-content {
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content__item {
  padding: 12px 10px;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dropdown-content__item:focus {
  border: 1px solid black;
}

.item-content {
  color: #000000;
  text-decoration: none;
}

.item-content__text {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content__item--red {
  border-top: 1px solid #c2c2c2;
  color: #880303;
}

/* Change color of dropdown links on hover */
.dropdown-content__item:hover {
  background-color: #ddd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Show the dropdown menu on hover */
.dropdown-section:hover .dropdown-section__content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-section:hover .dropicon {
  background-color: #295366;
  color: #0a0a0a;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.category-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-columns: calc(8% - 30px);
  grid-auto-flow: column;
  grid-column-gap: 1vw;
  margin-bottom: 30px;
  background-color: #fff;
  width: 99%;
  overflow: auto;
  height: 50px;
}

.category-panel__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  border: 1px solid #8f8f8f;
  max-width: 120px;
  border-radius: 50px;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-panel::-webkit-scrollbar {
  display: none;
}

.category-panel__elem:hover {
  background-color: #d6d5d5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-panel__elem:first-child {
  color: white;
  background-color: #067a54;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category-panel__elem:first-child:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #04573f;
}

.video-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
}

.video-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(250px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.video-content__preview-section {
  margin-bottom: 10px;
  grid-auto-rows: 1fr;
}

.description-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desctiption-section__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-section__streamer-icon {
  margin-right: 20px;
}

.description-section__video-title {
  display: block;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.description-section__video-title:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #0a69bd;
}

.description-section__streamer-nickname {
  color: #706d6d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.description-section__streamer-nickname:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #0a69bd;
}

.description-section__options-icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}

.preview-section {
  position: relative;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
}

.preview-section__preview {
  max-width: 100%;
  height: 100%;
}

.preview-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
}

.preview-section:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 45%;
  background: url(../img/icons/play-circle-solid.svg) no-repeat;
  height: 60px;
  width: 60px;
  opacity: 0;
  z-index: 1;
}

.preview-section:hover:before,
.preview-section:hover:after {
  opacity: 1;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

.preview-section__badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 20px;
  background-color: #cf0707;
  border-radius: 4px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px 0px 5px;
  padding: 5px;
  z-index: 100;
}

.preview-section__viewers {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 5px 5px 0px;
  padding: 10px;
  z-index: 100;
}

.preview-section__duration {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 5px 5px 0px;
  padding: 10px;
}

.footer__link {
  margin: 0 auto;
  color: #000000;
  font-size: 1.3rem;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #37bde6;
}

.footer__text {
  margin-right: 10px;
}
