.dropicon {
   background-color: #2c3d44;
   color: #fffbfb;
   padding: 10px 12px;
   border-radius: 50%;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-section {
   position: relative;
   display: inline-block;
   @include anim(0.3s, 0s);
}
.dropdown-section__icon {
   margin-left: 10px;
}
.dropdown-section__icon:focus {
   border: 1px solid rgb(0, 0, 0);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-section__content {
   margin-top: 11px;
   display: none;
   position: absolute;
   right: 0;
   min-width: 180px;
   z-index: 1;
}
.dropdown-content {
   border: 1px solid #c2c2c2;
   background-color: #ffffff;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content__item {
   padding: 12px 10px;
   display: block;
   @include anim(0.3s, 0s);
}
.dropdown-content__item:focus {
   border: 1px solid rgb(0, 0, 0);
}

.item-content {
   color: #000000;
   text-decoration: none;
}
.item-content__icon {
}
.item-content__text {
   padding-left: 10px;
   font-family: Arial, Helvetica, sans-serif;
}
.dropdown-content__item--red {
   border-top: 1px solid #c2c2c2;
   color: rgb(136, 3, 3);
}
/* Change color of dropdown links on hover */
.dropdown-content__item:hover {
   background-color: #ddd;
   @include anim(0.3s, 0s);
}

/* Show the dropdown menu on hover */
.dropdown-section:hover .dropdown-section__content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-section:hover .dropicon {
   background-color: #295366;
   color: #0a0a0a;
   @include anim(0.3s, 0s);
}