.form-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 30%;
   font-size: 1.3rem;
}

.form-section__input {
   font-size: 1.1rem;
}
.form-section__input:focus {
   border: 1px solid rgb(0, 0, 0);
}
.form-section__button {
   font-size: 1.1rem;
   margin: 0px 10px 0px 0px;
}
.form-section__button:focus {
   border: 1px solid rgb(0, 0, 0);
}
.form-section__microphone-icon {
   background-color: transparent;
}
.form-section__microphone-icon:focus {
   border: 1px solid rgb(0, 0, 0);
}

.site-search {
   padding: 3px;
   width: 100%;
   min-width: 60px;
   border: 1px solid #cac9c9;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.search-button {
   padding: 3px 5px;
   border-top: 1px solid #cac9c9;
   border-right: 1px solid #cac9c9;
   border-bottom: 1px solid #cac9c9;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   @include anim(0.3s, 0s);
}
.search-button:focus {
   border: 1px solid rgb(0, 0, 0);
}

.search-button:hover {
   background-color: #e7e6e6;
   @include anim(0.3s, 0s);
}