.header {
   grid-area: header;
   padding: 0px 30px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background-color: #ffffff;
   box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.502);
}

