.profile-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 60px;
}
.profile-section__icon {
   background-color: transparent;
}

.profile-section__icon:focus {
   border: 1px solid rgb(0, 0, 0);
}
