.wrapper {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: minmax(250px, auto) 1fr;
   grid-template-rows: 50px 1fr;
   grid-template-areas:
      "header header"
      "aside  main";
}

@media screen and(max-width: 1200px) {
   .wrapper {
      grid-template-columns: minmax(80px, auto) 1fr;
   }
}
