$fontfamily: "Helvetica";
//reset//
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*::before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
aside,
nav,
footer,
header,
section {
   display: block;
}
html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   position: relative;
   width: 100%;
   color: #000;
}
body {
   font-size: 100%;
   line-height: 1;
   font-family: $fontfamily;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: $fontfamily;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style-type: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
::selection {
   color: #ffffff;
   background-color: rgb(13, 110, 110);
}
