.footer {
}

.footer__link {
   margin: 0 auto;
   color: #000000;
   font-size: 1.3rem;
   max-width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   @include anim(0.3s, 0s);
}

.footer__link:hover {
   @include anim(0.3s, 0s);
   color: #37bde6;
}

.footer__text {
   margin-right: 10px;
}
