.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
}

.aside-container {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.main-container {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 15px 30px;
}
@media (max-width: 1200px){ 
   .main-container {
      padding: 20px 30px;
   }
}

.footer-container {
   margin: 50px 0px 0px 0px;
}
