@media screen and (max-width: 1200px) {
   .aside {
      width: 80px;
   }
   .information-section {
      display: none;
   }
   .streamers-section__list {
      align-items: center;
      align-content: space-between;
      height: 100%;
   }
   .streamers-section__item {
      padding: 20px 0 0 0;
   }
   .streamers-section__item:hover {
      background-color: transparent;
   }
   .streamer-item__nickname {
      display: none;
   }
   .streamer-item__spectators {
      display: none;
   }
   .streamer-item__icon {
      margin: 0px 0px 0px 0px;
   }
   .streamer-item__score-section {
      display: none;
   }
}
