.information-section {
   border-top: 1px solid white;
}
.information-section-container {
   display: flex;
   flex-direction: column;
   height: 100px;
   text-align: center;
   background-color: rgb(199, 199, 199);
   margin: 30px;
   justify-content: space-around;
   border-radius: 3px;
}
.information-section__text {
   font-size: 1.2rem;
}
.information-section__text::selection {
   color: rgb(255, 255, 255);
   background-color: rgb(235, 175, 64);
}
.information-section__social {
   display: flex;
   width: 100px;
   align-self: center;
   justify-content: space-between;
   font-size: 1.5rem;
}
