.pulse-selector {
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #a30000;
   cursor: pointer;
   box-shadow: 0 0 0 rgba(204, 44, 44, 0.4);
   animation: pulse-selector 2s infinite;
 }
 .pulse-selector:hover {
   animation: none;
 }
 
 @-webkit-keyframes pulse-selector {
   0% {
     -webkit-box-shadow: 0 0 0 0 rgba(204, 33, 33, 0.4);
   }
   70% {
       -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
   }
   100% {
       -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
   }
 }
 @keyframes pulse-selector {
   0% {
     -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
     box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
   }
   70% {
       -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
       box-shadow: 0 0 0 10px rgba(204,169,44, 0);
   }
   100% {
       -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
       box-shadow: 0 0 0 0 rgba(204,169,44, 0);
   }
 }