.social {
  
}
.social__item {
   color: #000000;
}
.social__item:nth-child(1):hover {
   color: #0088cc;
   @include anim(0.3s, 0s);
}
.social__item:nth-child(2):hover {
   background:  radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   border-radius: 4px;
   @include anim(0.3s, 0s);
}

.social__item:nth-child(3):hover {
   @include anim(0.3s, 0s);
   color: #3b5998;
}
