.streamers-section {
   overflow-y: auto;
}
.streamers-section__list {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.streamers-section__item {
   padding: 15px 20px 15px 20px;
   @include anim(0.3s, 0s);
}
/* Change color of dropdown links on hover */
.streamers-section__item:hover {
   @include anim(0.3s, 0s);
   background-color: rgb(175, 175, 175);
}

.streamer-item {
}
.streamer-item__link {
   max-width: 220px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #000000;
}
.streamer-item__name-section {
   display: flex;
   align-items: center;
}
.streamer-item__icon {
   margin-right: 10px;
}
.streamer-item__nickname {
   display: inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 100px;
   @include anim(0.3s, 0s);
}
.streamer-item__nickname:hover {
   color: #1e8eaa;
   @include anim(0.3s, 0s);
}
.streamer-item__score-section {
   display: flex;
   align-items: center;
}
.streamer-item__pulse-selector {
   margin-right: 5px;
}
.streamer-item__spectators {
}
