.category-panel {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
   grid-auto-columns: calc(8% - 30px);
   grid-auto-flow: column;
   grid-column-gap: 1vw;
   margin-bottom: 30px;
   background-color: #fff;
   width: 99%;
   overflow: auto;
   height: 50px;
}
.category-panel__elem {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.1rem;
   border: 1px solid #8f8f8f;
   max-width: 120px;
   border-radius: 50px;
   color: rgb(0, 0, 0);
   @include anim(0.3s, 0s);
}

.category-panel::-webkit-scrollbar {
   display: none;
}

.category-panel__elem:hover {
   background-color: rgb(214, 213, 213);
   @include anim(0.3s, 0s);
}
.category-panel__elem:first-child {
   color: white;
   background-color: #067a54;
   border: none;
   @include anim(0.3s, 0s);
}
.category-panel__elem:first-child:hover {
   @include anim(0.3s, 0s);
   background-color: #04573f;
}
