.description-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.desctiption-section__left-side {
   display: flex;
   align-items: center;
}
.description-section__text-wrapper {
}
.description-section__link-icon {
}
.description-section__streamer-icon {
   margin-right: 20px;
}
.description-section__video-title {
   display: block;
   color: #000000;
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: 5px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   width: 250px;
   @include anim(0.3s, 0s);
}
.description-section__video-title:hover {
   @include anim(0.3s, 0s);
   color: #0a69bd;
}

.description-section__streamer-nickname {
   color: #706d6d;
   @include anim(0.3s, 0s);
}
.description-section__streamer-nickname:hover {
   @include anim(0.3s, 0s);
   color: #0a69bd;
}

.description-section__options-icon {
   max-width: 20px;
   max-height: 20px;
   margin-right: 10px;
}
