.preview-section {
   position: relative;
   animation: fadein 1s;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
   -o-animation: fadein 1s; /* Opera < 12.1 */
}

.preview-section__preview {
   max-width: 100%;
   height: 100%;
}
.preview-section:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   opacity: 0;
   z-index: 1;
}

.preview-section:before {
   content: "";
   position: absolute;
   top: 40%;
   left: 45%;
   background: url(../img/icons/play-circle-solid.svg) no-repeat;
   height: 60px;
   width: 60px;
   opacity: 0;
   z-index: 1;
}

.preview-section:hover:before,
.preview-section:hover:after {
   opacity: 1;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
   -o-animation: fadein 1s; /* Opera < 12.1 */
   animation: fadein 1s;
}

@keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Internet Explorer */
@-ms-keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.preview-section__badge {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 20px;
   background-color: #cf0707;
   border-radius: 4px;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px 0px 0px 5px;
   padding: 5px;
   z-index: 100;
}

.preview-section__viewers {
   position: absolute;
   bottom: 0;
   right: 0;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.308);
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 5px 5px 0px;
   padding: 10px;
   z-index: 100;
}

.preview-section__duration {
   position: absolute;
   bottom: 0;
   right: 0;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 5px 5px 0px;
   padding: 10px;
}
