.video-panel {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 
   column-gap: 20px;
   row-gap: 30px;
}
.video-panel__elem {
}

.video-content {
   display: grid;
   grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}
.video-content__preview-section {
   margin-bottom: 10px;
   grid-auto-rows: 1fr;
}
.video-content__description-section {
}
@media screen and(max-width: 1500px) {
   .video-panel {

   } 
}
