.icons {
   cursor: pointer;
}
#search-icon {
   font-size: 1.1rem;
}

#microphone-icon {
   opacity: 0.3;
   font-size: 1.7rem;
   @include anim(0.3s, 0s);
}
#bell-icon {
   opacity: 0.3;
   font-size: 1.5rem;
   @include anim(0.3s, 0s);
}

#microphone-icon:hover {
   opacity: 0.7;
   @include anim(0.3s, 0s);
}

#bell-icon:hover {
   opacity: 0.7;
   @include anim(0.3s, 0s);
}

.streamer-icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}